/* darker red */
/* dark red */
/* lighter red */
/* alomst black */
/*light grey */
/*lighter grey */
.center-block, .b-video-img, .gear-img {
  display: block;
  margin-right: auto;
  margin-left: auto; }

nav,
header,
footer {
  display: block; }

* {
  font-family: "Poppins", sans-serif; }

body {
  margin: 0;
  line-height: 1;
  background: #010103;
  min-height: 200vh; }

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: auto; }

.row::after {
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

* {
  box-sizing: border-box; }

nav,
header,
footer {
  display: block; }

body {
  margin: 0;
  line-height: 1;
  min-height: 200vh; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.66em 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000; }

header.sticky {
  padding: 5px 100px; }

.logo {
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 30px;
  color: #FFFCFC;
  letter-spacing: 3px;
  transition: 0.6s; }

nav {
  width: 100;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

nav ul {
  overflow: hidden;
  padding: 10px 0 10px 0; }

nav ul.topnav li {
  list-style: none;
  float: right;
  padding: 10px; }

nav ul.topnav li.topnav-right {
  float: left; }

ul.topnav li a {
  font-family: sans-serif;
  text-decoration: none;
  display: block;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  color: #FFFCFC;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 300; }

ul.topnav li a:hover {
  letter-spacing: 4px;
  font-size: 22px;
  transition: 0.3s;
  color: #7E5936;
  transition: -10px; }

ul.topnav li.dropDownIcon {
  display: none; }

header.sticky nav ul {
  background: #13131a; }
  header.sticky nav ul li a {
    color: #d3ad7f; }

header.sticky nav ul li .logo {
  display: none; }

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../bakeAssets/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center; }

.bake {
  color: #7E5936;
  font-size: 43px; }

.cake {
  color: #FFFCFC;
  font-size: 43px; }

.lead {
  color: #7E5936;
  font-size: 36px;
  font-weight: bold; }

.row .col-6 .container h1 {
  margin: auto;
  text-align: center; }

.row .col-6 .container p {
  margin: auto;
  text-align: center; }

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  background: url(../bakeAssets/about1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.7s; }
  .about .about-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    align-items: center;
    backdrop-filter: blur(10px); }

.about-2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #010103; }
  .about-2 .about-events-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #010103; }

.about-rapper {
  width: 100%;
  height: 100vh;
  margin: auto;
  backdrop-filter: blur(10px); }

.whyus {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center; }

.about-h1 {
  color: #d3ad7f;
  font-size: 2rem; }

.about-p {
  color: #d3ad7f;
  font-weight: 400;
  margin: 10px 10px;
  font-size: 1.25rem; }

.icon-check {
  color: #d3ad7f; }

.jumbotron {
  background: none; }

.display-3 {
  color: #FFFCFC; }

.abouth1, .aboutp1 {
  color: #FFFCFC; }

.aboutblur {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: rgba(38, 38, 38, 0.1);
  backdrop-filter: blur(20px); }

.col-sm-12 {
  margin-top: 15px; }

.about-li {
  color: #FFFCFC;
  font-size: 16px;
  font-weight: bold; }

.aboutp1 {
  color: #FFFCFC;
  font-weight: bold;
  font-size: 16px; }

.whyush1 {
  color: #666;
  font-size: 22px; }

.whyUs-line {
  background-color: #7E5936;
  width: 150px;
  height: 1px;
  margin-left: 10px; }
  .whyUs-line .whyus-div {
    width: 150px;
    height: 150px;
    background-color: red; }

.whysus-content {
  position: absolute;
  top: 10px;
  left: 10px; }

.wychose {
  color: #7E5936;
  font-size: 1.25rem; }

.wy-us-row {
  padding-top: 70px;
  margin-top: 70px; }

.whyus-div {
  width: 80%;
  height: 230px;
  background: #13131a;
  margin-top: 70px;
  transition: 1s;
  opacity: 1;
  transform: translateZ(0) scale(1);
  margin: auto; }

.whyus-div:hover {
  background: #7E5936;
  transition: 0.6s;
  text-transform: -70px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18); }

.btn-wishList {
  padding: 4px 30px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  background: none;
  color: #F5CB86;
  border: 1px solid #d3ad7f; }

.btn-wishList:hover {
  background: #d3ad7f;
  color: #FFFCFC;
  border: 1px solid #d3ad7f; }

.container .nav-menu-list .dropDownIcon {
  font-size: 50px;
  display: none; }

.bars {
  position: relative;
  width: 35px;
  height: 35px;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.bar {
  position: absolute;
  width: 20px;
  height: 3px;
  background: #FFFCFC;
  border-radius: 1px;
  transition: 0.5s; }

.bar-1 {
  transform: translateY(-10px);
  width: 50%;
  left: 5px; }

.bar-3 {
  transform: translateY(10px);
  width: 30%;
  left: 5px; }

.bars.active .bar-1 {
  width: 25px;
  transform: translateY(0px) rotate(45deg); }

.bars.active .bar-2 {
  transform: translateX(35px); }

.bars.active .bar-3 {
  width: 20px;
  transform: translateY(0px) rotate(315deg); }

header.sticky nav ul li.dropDownIcon a div.bars div.bar {
  background: #b9865b; }

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */ }

.menu-btn__burger {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out; }

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out; }

.menu-btn__burger::before {
  transform: translateY(-16px); }

.menu-btn__burger::after {
  transform: translateY(16px); }

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none; }

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px); }

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px); }

.b-video-img {
  width: 100%;
  padding: 20px 0 30px; }

.img-item {
  display: inline-block;
  margin: 0 30px 40px;
  vertical-align: middle; }

.col-img {
  background: url(../assets/about.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(211, 173, 127, 0.3);
  transition: 0.7s;
  margin: auto;
  width: 340px;
  height: 300px; }

.col-img:hover {
  width: 400px;
  height: 370px;
  transition: 0.7s; }

.img-list {
  margin: 0 -20px -40px;
  padding: 0; }

ul {
  text-decoration: none;
  list-style: none; }

li {
  text-decoration: none;
  list-style: none;
  margin: 3px;
  padding: 3px;
  color: #d3ad7f; }

a {
  text-decoration: none; }

@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
    float: left; }

  ul.topnav li.dropDownIcon {
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0; }

  header.sticky nav ul li.logo {
    display: none; }

  ul.topnav li a {
    padding: 14px;
    transition: 0.5s;
    font-size: 16px; } }
@media screen and (max-width: 680px) {
  .btn-wishList {
    padding: 8px 30px;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background: none;
    color: #F5CB86;
    border: 1px solid #d3ad7f; }

  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.6s; }

  ul.topnav.responsive li.dropDownIcon {
    position: absolute;
    top: -10px;
    right: -10px; }

  ul.topnav.responsive {
    position: relative;
    transition: 0.7s; }

  nav ul.topnav.responsive li.topnav-right {
    float: none;
    transition: 0.7s; }

  ul.topnav.responsive li {
    display: inline;
    float: none;
    transition: 0.3s; }

  ul.topnav.resposive li a {
    font-size: 16px;
    display: block;
    text-align: left;
    transition: 0.3s; }

  ul.topnav.responsive li.dropDownIcon {
    display: block;
    float: right;
    position: absolute;
    top: -10px;
    right: 0;
    transition: 0.7s; } }
@media screen and (max-width: 680px) {
  .bake {
    font-size: 30px; }

  .cake {
    font-size: 30px; }

  .lead {
    font-size: 24px; } }
@media screen and (max-width: 680px) {
  .col-img {
    width: 300px;
    height: 250px; }

  .col-img:hover {
    width: 350px;
    height: 300px;
    transition: 0.7s; }

  .about-h1 {
    font-size: 1.25rem; }

  .about-p {
    font-size: 1.25rem; } }
@media screen and (max-width: 680px) {
  h1 {
    font-size: 23px; }

  p {
    font-size: 18px; } }
@media screen and (max-width: 680px) {
  whyus-div {
    width: 100%;
    margin-top: 70px;
    padding-top: -30px;
    align-content: center; } }

/*# sourceMappingURL=app.css.map */
