

.about-h1
  color: $base-luxary-gold6

  font-size: $font-size-xlg
.about-p
  color: $base-luxary-gold6
  font-weight: 400
  margin: 10px 10px
  font-size: $font-size-lg
.icon-check
  color: $base-luxary-gold6
.jumbotron
  background: none
.display-3
  color: $white
.abouth1 ,.aboutp1
  color: $white


.aboutblur
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  margin: 0
  background: rgba(38,38,38,0.1)
  backdrop-filter: blur(20px)

.col-sm-12
  margin-top: 15px
.about-li
  color: $white
  font-size: 16px
  font-weight: bold

.aboutp1
  color: $white
  font-weight: bold
  font-size: 16px

.whyush1
  color: #666
  font-size: 22px
.whyUs-line
  background-color: $base-luxary-gold4
  width: 150px
  height: 1px
  margin-left : 10px

  .whyus-div
    width: 150px
    height: 150px
    background-color: red

.whysus-content
  position: absolute
  top: 10px
  left: 10px

.wychose
  color: $base-luxary-gold4
  font-size: $font-size-lg

.whyus-h1-nomber
  font-size: $font-size-xlg
  color: $base-luxary-gold4
  text-align: center


.whyus-h1-caption
  font-size: $font-size-lg
  color: $white
  text-align: center


.whyus-p-paragraph
  font-size: $font-size-m
  color: $white
  text-align: center

.Menuh1
    color: #666
    font-size: 22px
    letter-spacing: 3px
.Menu-P
    color: $base-luxary-gold4
    font-size: $font-size-lg










.contact .info
  width: 100%



.Contact .row .col-lg-4 .info
  i
    font-size: 20px
    float: left
    width: 44px
    height: 44px
    background: #cda45e
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50px
    transition: all 0.3s ease-in-out

  h4
    padding: 0 0 0 60px
    font-size: 18px
    font-weight: 500
    margin-bottom: 5px
    font-family: "Poppins", sans-serif

  p
    padding: 0 0 0 60px
    margin-bottom: 0
    font-size: 14px
    color: #bab3a6

.open-hours,.email,.phone
  margin-top: 40px
