

.about-h1
  color: $base-luxary-gold6

  font-size: $font-size-xlg
.about-p
  color: $base-luxary-gold6
  font-weight: 400
  margin: 10px 10px
  font-size: $font-size-lg
.icon-check
  color: $base-luxary-gold6
.jumbotron
  background: none
.display-3
  color: $white
.abouth1 ,.aboutp1
  color: $white


.aboutblur
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  margin: 0
  background: rgba(38,38,38,0.1)
  backdrop-filter: blur(20px)

.col-sm-12
  margin-top: 15px
.about-li
  color: $white
  font-size: 16px
  font-weight: bold

.aboutp1
  color: $white
  font-weight: bold
  font-size: 16px

.whyush1
  color: #666
  font-size: 22px
.whyUs-line
  background-color: $base-luxary-gold4
  width: 150px
  height: 1px
  margin-left : 10px

  .whyus-div
    width: 150px
    height: 150px
    background-color: red

.whysus-content
  position: absolute
  top: 10px
  left: 10px

.wychose
  color: $base-luxary-gold4
  font-size: $font-size-lg
