.wy-us-row
  padding-top: 70px
  margin-top: 70px
.whyus-div
  width: 80%
  height: 230px
  background: $base-light-black
  margin-top: 70px
  transition: 1s
  opacity: 1
  transform: translateZ(0) scale(1)
  margin: auto
.whyus-div:hover
  background: $base-luxary-gold4
  transition: 0.6s
  text-transform: -70px
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18)
