.b-video-img
  @extend .center-block
  width: 100%
  padding: 20px 0 30px

.img-item
  display: inline-block
  margin: 0 30px 40px
  vertical-align: middle

.gear-img
  @extend .center-block


.col-img
  background: url(../assets/about.jpg) no-repeat
  background-size: cover
  background-position: center
  border: 5px solid rgba(211,173,127,0.3)
  transition: 0.7s
  margin: auto

  width: 340px
  height: 300px

.col-img:hover
    width: 400px
    height: 370px
    transition: 0.7s

.menu-item-images
  align-items: center
  margin-left: 75px

.menu-item-h1
  text-align: center
  color: $white


.menu-item-p1
  text-align: center
  color: $white
