ul
  text-decoration: none
  list-style: none
li
  text-decoration: none
  list-style: none
  margin: 3px
  padding: 3px
  color: $base-luxary-gold6
a
  text-decoration: none





@media screen and (max-width:680px)
    ul.topnav li:not(:nth-child(1))
        display: none
        float: left
    ul.topnav li.dropDownIcon
        display: block
        float: right
        position: absolute
        top: 0
        right: 0




    ul.topnav li a
        padding: 14px
        transition: 0.5s
        font-size: 16px


@media screen and (max-width:680px)
    .btn-wishList
        padding: 8px 30px
        border-radius: 0px
        font-size: 20px
        font-weight: 400
        text-decoration: none
        background: none
        color: $base-luxary-gold3
        border: 1px solid $base-luxary-gold6
    .logo
        position: absolute
        top: 5px
        left: 5px
        font-size: 20px
        letter-spacing: 2px
        transition: 0.6s


    ul.topnav.responsive li.dropDownIcon
        position: absolute
        top: -10px
        right: -10px

    ul.topnav.responsive
        position: relative
        transition: 0.7s


    nav ul.topnav.responsive li.topnav-right
        float: none
        transition: 0.7s

    ul.topnav.responsive li
        display: inline
        float: none
        transition: 0.3s

    ul.topnav.resposive li a
        font-size: 16px
        display: block
        text-align: left
        transition: 0.3s


    ul.topnav.responsive li.dropDownIcon
        display: block
        float: right
        position: absolute
        top: -10px
        right: 0
        transition: 0.7s


@media screen and (max-width:680px)
    .bake
        font-size: 30px

    .cake
        font-size: 30px

    .lead
        font-size: 24px
@media screen and (max-width:680px)
    .col-img
        width: 300px
        height: 250px

    .col-img:hover
        width: 350px
        height: 300px
        transition: 0.7s

    .about-h1
        font-size: $font-size-lg
    .about-p
        font-size: $font-size-lg










@media screen and(max-width:680px)
    h1
        font-size: 23px
    p
        font-size: 18px
